# Fichiers Python compilés
__pycache__/
*.py[cod]
*.pyo

# Environnement virtuel
venv/
.env/

# Base de données SQLite
db.sqlite3

# Fichiers temporaires
*.log

# Configs locales
*.env

# Cache et fichiers générés
*.pot
*.pyc
*.pyd
*.pdb
*.so
